@import "tailwindcss";

@theme {
  --color-cream: #f4ebda;
  --color-dark: #1f1716;
  --color-rust: #9c5230;
  --color-brown-medium: #897465;
  --color-brown-light: #c19473;
  --color-peach: #ffc9a2;
  --color-gold: #ffbe56;
  --color-teal: #4e7b7c;
  --color-white: #ffffff;

  --font-poppins: 'Poppins', sans-serif;

  --breakpoint-sm: 640px;
  --breakpoint-md: 810px;
  --breakpoint-lg: 1200px;
}

html,
body {
  background-color: #f4ebda;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
